{% extends 'base.html.twig' %}

{% block body %}
  {# Barre de recherche #}
  <form class="d-flex" role="search" method="get">
    <input type="hidden" name="limit" value="{{ categories.limit }}">
    <input type="hidden" name="sort" value="{{ categories.sort }}">
    <input type="hidden" name="order" value="{{ categories.order }}">
    <input class="form-control me-2" type="search" placeholder="Rechercher un titre ou un créateur" aria-label="Search" name="search" value="{{ categories.search }}">
    <button class="btn btn-outline-success" type="submit">Rechercher</button>
  </form>

  {# Affichage des catégories (ou non) #}
  {% if categories.data is empty %}
    <h2>Aucun résultat,
      <a href="{{ path('app_main') }}">retour à l'accueil</a>
    </h2>
  {% else %}
    {% for category in categories.data %}
      <div class="col-12 col-md-6 col-lg-4 col-xxl-3 p-1">
        <div class="card">
          <img src="{{ asset('img/' ~ category.image) }}" class="card-img-top" alt="{{ category.title }}" style="aspect-ratio: 16/9; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title mb-4">{{ category.title }}</h5>
            <div class="d-flex flex-column align-items-center flex-md-row">
              {% for questionnaire in category.questionnaires %}
                <a href="{{ path('app_quizz_index', {slug: category.slug, difficulty: questionnaire.difficulty}) }}" class="btn {{ questionnaire.scores[0] is defined ? 'btn-success' : 'btn-primary' }} w-100 m-1">
                  {{ questionnaire.difficulty|capitalize }}
                </a>
              {% endfor %}
            </div>
            <small class="d-block text-end">Créé par :
              {{ category.user.pseudo }}</small>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}

  <nav class="d-flex" aria-label="Navigation catégories accueil">
    {# Pagination #}
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link {{ categories.page <= 1 ? 'disabled' : '' }}" href="{{ path('app_main', {page: categories.page - 1, limit: categories.limit, sort: categories.sort, order: categories.order, search: categories.search}) }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% for i in 1..categories.pages %}
        <li class="page-item">
          <a class="page-link {{ categories.page == i ? 'active' : '' }}" href="{{ path('app_main', {page: i, limit: categories.limit, sort: categories.sort, order: categories.order, search: categories.search}) }}">
            {{ i }}
          </a>
        </li>
      {% endfor %}
      <li class="page-item">
        <a class="page-link {{ categories.page >= categories.pages ? 'disabled' : '' }}" href="{{ path('app_main', {page: categories.page + 1, limit: categories.limit, sort: categories.sort, order: categories.order, search: categories.search}) }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>

    {# Trier par #}
    <div class="dropdown ms-auto">
      <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Trier par
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item {{ (categories.sort == 'c.createdAt' and categories.order == 'desc' ) ? 'active' : '' }}" href="{{ path('app_main', {limit: categories.limit, sort: 'c.createdAt', order: 'desc', search: categories.search}) }}">
            Le plus récent d'abord
          </a>
        </li>
        <li>
          <a class="dropdown-item {{ (categories.sort == 'c.createdAt' and categories.order == 'asc' ) ? 'active' : '' }}" href="{{ path('app_main', {limit: categories.limit, sort: 'c.createdAt', order: 'asc', search: categories.search}) }}">
            Le plus ancien d'abord
          </a>
        </li>
        <li>
          <a class="dropdown-item {{ (categories.sort == 'c.title' and categories.order == 'asc' ) ? 'active' : '' }}" href="{{ path('app_main', {limit: categories.limit, sort: 'c.title', order: 'asc', search: categories.search}) }}">
            Ordre alphabétique
          </a>
        </li>
        <li>
          <a class="dropdown-item {{ (categories.sort == 'c.title' and categories.order == 'desc' ) ? 'active' : '' }}" href="{{ path('app_main', {limit: categories.limit, sort: 'c.title', order: 'desc', search: categories.search}) }}">
            Ordre alphabétique inverse
          </a>
        </li>
        <li>
          <a class="dropdown-item {{ (categories.sort == 'u.pseudo' and categories.order == 'asc' ) ? 'active' : '' }}" href="{{ path('app_main', {limit: categories.limit, sort: 'u.pseudo', order: 'asc', search: categories.search}) }}">
            Créateur
          </a>
        </li>
        <li>
          <a class="dropdown-item {{ (categories.sort == 'u.pseudo' and categories.order == 'desc' ) ? 'active' : '' }}" href="{{ path('app_main', {limit: categories.limit, sort: 'u.pseudo', order: 'desc', search: categories.search}) }}">
            Créateur inverse
          </a>
        </li>
      </ul>
    </div>

    {# Nombre de catégories à afficher #}
    <div class="dropdown ms-1">
      <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Affichage
      </button>
      <ul class="dropdown-menu" style="min-width: 0;">
        <li>
          <a class="dropdown-item {{ categories.limit == 4 ? 'active' : '' }} text-center" href="{{ path('app_main', {limit: 4, sort: categories.sort, order: categories.order, search: categories.search}) }}">
            4
          </a>
        </li>
        <li>
          <a class="dropdown-item {{ categories.limit == 8 ? 'active' : '' }} text-center" href="{{ path('app_main', {limit: 8, sort: categories.sort, order: categories.order, search: categories.search}) }}">
            8
          </a>
        </li>
        <li>
          <a class="dropdown-item {{ categories.limit == 12 ? 'active' : '' }}" href="{{ path('app_main', {limit: 12, sort: categories.sort, order: categories.order, search: categories.search}) }}">
            12
          </a>
        </li>
        <li>
          <a class="dropdown-item {{ categories.limit == 16 ? 'active' : '' }}" href="{{ path('app_main', {limit: 16, sort: categories.sort, order: categories.order, search: categories.search}) }}">
            16
          </a>
        </li>
      </ul>
    </div>
  </nav>
{% endblock %}
