{% extends 'base.html.twig' %}

{% block body %}
  {% for category in categories.data %}
    <div class="col-12 col-md-6 col-lg-4 col-xxl-3 p-1">
      <div class="card">
        <img src="{{ asset('img/' ~ category.image) }}" class="card-img-top" alt="{{ category.title }}" style="aspect-ratio: 16/9; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title mb-4">{{ category.title }}</h5>
          <div class="d-flex flex-column align-items-center flex-md-row">
            <a href="{{ path('app_quizz_index', {slug: category.slug, difficulty: 'facile'}) }}" class="btn {{ scores[loop.index * 3 - 3] is defined and scores[loop.index * 3 - 3] is not null ? 'btn-success' : 'btn-primary' }} w-100 m-1">Facile</a>
            <a href="{{ path('app_quizz_index', {slug: category.slug, difficulty: 'moyen'}) }}" class="btn {{ scores[loop.index * 3 - 2] is defined and scores[loop.index * 3 - 2] is not null ? 'btn-success' : 'btn-primary' }} w-100 m-1">Moyen</a>
            <a href="{{ path('app_quizz_index', {slug: category.slug, difficulty: 'difficile'}) }}" class="btn {{ scores[loop.index * 3 - 1] is defined and scores[loop.index * 3 - 1] is not null ? 'btn-success' : 'btn-primary' }} w-100 m-1">Difficile</a>
          </div>
          <small class="d-block text-end">Créé par :
            {{ category.user.pseudo }}</small>
        </div>
      </div>
    </div>
  {% endfor %}

  <nav aria-label="Navigation catégories accueil">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link {{ categories.page == 1 ? 'disabled' : '' }}" href="{{ path('app_main', {page: categories.page - 1}) }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% for i in 1..categories.pages %}
        <li class="page-item">
          <a class="page-link {{ categories.page == i ? 'active' : '' }}" href="{{ path('app_main', {page: i}) }}">{{ i }}</a>
        </li>
      {% endfor %}
      <li class="page-item">
        <a class="page-link {{ categories.page == categories.pages ? 'disabled' : '' }}" href="{{ path('app_main', {page: categories.page + 1}) }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
{% endblock %}
