<a href="{{ path('admin_main_index') }}" class="list-group-item list-group-item-action {{ app.current_route == 'admin_main_index' ? 'active' : '' }}">
  Accueil
</a>
<a href="{{ path('admin_categories_index') }}" class="list-group-item list-group-item-action {{ app.current_route == 'admin_categories_index' ? 'active' : '' }}">
  Liste des catégories
</a>
<a href="{{ path('admin_categories_add') }}" class="list-group-item list-group-item-action {{ app.current_route == 'admin_categories_add' ? 'active' : '' }}">
  Ajouter une catégorie</a>
<a href="#" class="list-group-item list-group-item-action {{ app.current_route == 'admin_users' ? 'active' : '' }}">
  Liste des utilisateurs
</a>
