{% extends 'base.html.twig' %}

{% block body %}
  <div class="list-group col-2">
    {% include "admin/partials/navbar.html.twig" %}
  </div>
  <div class="col-10">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Pseudo</th>
          <th scope="col">Email</th>
          <th scope="col">Créée le</th>
          <th scope="col">Vérifié</th>
          <th scope="col">Rôle</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.pseudo }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.createdAt|date("d/m/Y à H:m:s") }}</td>
            <td>
              {% if user.isVerified %}
                <span class="badge text-bg-success">Oui</span>
              {% else %}
                <span class="badge text-bg-danger">Non</span>
              {% endif %}
            </td>
            <td>
              {% if user.roles[0] == 'ROLE_ADMIN' %}
                <span class="badge text-bg-primary">{{ user.roles[0] }}</span>
              {% else %}
                <span class="badge text-bg-secondary">{{ user.roles[0] }}</span>
              {% endif %}
            </td>
            <td>
              <a class="btn btn-sm btn-warning" href="{{ path('admin_users_edit', {id: user.id}) }}">Modifier</a>
              <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#{{ user.id }}Modal">Supprimer</button>

              {# Fenêtre modale #}
              <div class="modal fade" id="{{ user.id }}Modal" tabindex="-1" aria-labelledby="{{ user.id }}ModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="{{ user.id }}ModalLabel">Supprimer l'utilisateur "{{ user.pseudo }}" ?</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Cela va également supprimer ses scores ainsi que le contenu qu'il a créé.
                      <strong>Cette action est irréversible.</strong>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>

                      {# Formulaire qui simule une method DELETE, pour supprimer une catégorie #}
                      <form action="{{ path('admin_users_remove', {id: user.id}) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                      </form>

                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock body %}