{% extends "base.html.twig" %}

{% block body %}
  <div class="list-group col-2">
    {% include "admin/partials/navbar.html.twig" %}
  </div>
  <div class="col-10">
    <a class="btn btn-primary mb-3" href="{{ path('admin_categories_index') }}">Retour</a>
    <div class="pb-5 border-bottom">
      {{ form_start(form) }}
      {{ form_end(form) }}
    </div>
    <table class="table mt-5">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Difficulté</th>
          <th scope="col">Questions</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for questionnaire in questionnaires %}
          <tr>
            <th scope="row">{{ questionnaire.id }}</th>
            <td>{{ questionnaire.difficulty|capitalize }}</td>
            <td>

              {# Affiche un badge coloré en fonction du nombre de questions #}
              {% if questionnaire.questions | length == 10 %}
                <span class="badge text-bg-success">{{ questionnaire.questions|length }}</span>
              {% elseif questionnaire.questions|length > 0 %}
                <span class="badge text-bg-warning">{{ questionnaire.questions|length }}</span>
              {% else %}
                <span class="badge text-bg-danger">{{ questionnaire.questions|length }}</span>
              {% endif %}

            </td>
            <td>
              <a class="btn btn-sm btn-primary" href="{{ path('admin_questionnaires_index', {id: questionnaire.id}) }}">Détails</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock body %}
