{% extends 'base.html.twig' %}

{% block body %}
  <div class="list-group col-2">
    {% include "admin/partials/navbar.html.twig" %}
  </div>
  <div class="col-10">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Titre</th>
          <th scope="col">Créée le</th>
          <th scope="col">Créateur</th>
          <th scope="col">Questions</th>
          <th scope="col">Active</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
          <tr>
            <th scope="row">{{ category[0].id }}</th>
            <td>{{ category[0].title }}</td>
            <td>{{ category[0].createdAt|date("d/m/Y à H:m:s") }}</td>
            <td>
              <a href="#">{{ category[0].user.pseudo }}</a>
            </td>
            <td>
              {% if category[1] == 30 %}
                <span class="badge text-bg-success">{{ category[1] }}</span>
              {% else %}
                <span class="badge text-bg-danger">{{ category[1] }}</span>
              {% endif %}
            </td>
            <td>
              {% if category[0].isActive %}
                <span class="badge text-bg-success">Oui</span>
              {% else %}
                <span class="badge text-bg-danger">Non</span>
              {% endif %}
            </td>
            <td>
              <a class="btn btn-sm btn-warning" href="{{ path('admin_categories_edit', {id: category[0].id}) }}">Modifier</a>
              <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#{{ category[0].id }}Modal">Supprimer</button>

              {# Fenêtre modale #}
              <div class="modal fade" id="{{ category[0].id }}Modal" tabindex="-1" aria-labelledby="{{ category[0].id }}ModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="{{ category[0].id }}ModalLabel">Supprimer la catégorie "{{ category[0].title }}" ?</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Cela va également supprimer tous les éléments associés (questionnaires, questions, propositions et scores, ainsi que l'image).
                      <strong>Cette action est irréversible.</strong>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>

                      {# Formulaire qui simule une method DELETE, pour supprimer une catégorie #}
                      <form action="{{ path('admin_categories_remove', {id: category[0].id}) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                      </form>

                    </div>
                  </div>
                </div>
              </div>

            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock body %}