{% extends 'base.html.twig' %}

{% block body %}
  <div class="list-group col-2">
    {% include "admin/partials/navbar.html.twig" %}
  </div>
  <div class="col-10">
    <a class="btn btn-primary mb-3" href="{{ path('admin_categories_edit', {id: questionnaire.category.id}) }}">Retour</a>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Question</th>
          <th scope="col">Réponse</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for question in questions %}
          <tr>
            <th scope="row">{{ question.id }}</th>
            <td>
              {% if question.question | length > 80 %}
                {{ question.question|slice(0, 79) }}...
              {% else %}
                {{ question.question }}
              {% endif %}
            </td>
            <td>
              {% if question.answer | length > 16 %}
                {{ question.answer|slice(0, 15) }}...
              {% else %}
                {{ question.answer }}
              {% endif %}
            </td>
            <td>
              <a class="btn btn-sm btn-warning" href="{{ path('admin_questions_edit', {id: question.id}) }}">Modifier</a>
              <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#{{ question.id }}Modal">Supprimer</button>

              {# Fenêtre modale #}
              <div class="modal fade" id="{{ question.id }}Modal" tabindex="-1" aria-labelledby="{{ question.id }}ModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="{{ question.id }}ModalLabel">Supprimer la question "{{ question.question }}" ?</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Cela va également supprimer les propositions associées.
                      <strong>Cette action est irréversible.</strong>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>

                      {# Formulaire qui simule une method DELETE, pour supprimer une question #}
                      <form action="{{ path('admin_questions_remove', {id: question.id}) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                      </form>

                    </div>
                  </div>
                </div>
              </div>

            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if questions | length < 10 %}
      <a class="btn btn-primary d-block" href="{{ path('admin_questionnaires_add', {id: questionnaire.id}) }}">Ajouter une question</a>
    {% endif %}
  </div>
{% endblock %}
