{% extends 'base.html.twig' %}

{% block title %}{{ category.title }}
  - Niveau
  {{ questionnaire.difficulty }}
{% endblock %}

{% block body %}
  <h1>{{ category.title }}
    - Niveau
    {{ questionnaire.difficulty }}</h1>

  <h4 class="text-center p-5">Votre score :
    {{ score.score }}/10</h4>

  <a class="btn btn-primary" href="{{ path('app_main') }}">Retour à l'accueil</a>

{% endblock %}
