{% extends 'base.html.twig' %}

{% block title %}{{ category.title }}
  - Niveau
  {{ questionnaire.difficulty }}
{% endblock %}

{% block body %}
  <h1>{{ category.title }}
    - Niveau
    {{ questionnaire.difficulty }}</h1>
  <img class="mb-4" src="{{ asset('img/' ~ category.image) }}" alt="{{ category.title }}" style="aspect-ratio: 20/9; object-fit: cover;">

  {% if score %}
    <h5>Votre meilleur score sur ce quizz :
      {{ score.score }}/10</h5>
  {% endif %}

  <a href="{{ path('app_quizz_question', {slug: category.slug, difficulty: questionnaire.difficulty, number: 1}) }}" class="btn btn-primary">Commencer</a>
{% endblock %}
